@import url("https://fonts.googleapis.com/css2?family=Orbitron&family=Roboto:wght@100&display=swap");
* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
}

ul,
ol,
li {
  list-style: none;
}

a {
  text-decoration: none;
}

.gallery {
  width: 100%;
  height: 100vh;
  overflow: hidden;
  background: linear-gradient(45deg, mediumpurple, aqua);
  position: relative;
}
.gallery h1 {
  font: normal 24px/1 "orbitron";
  color: #fff;
  letter-spacing: 1px;
  position: absolute;
  top: 70px;
  left: 50px;
}
.gallery h1 span {
  color: #eee;
}
.gallery .swiper-wrapper {
  width: 100%;
  height: 100%;
}
.gallery .swiper-wrapper .swiper-slide {
  width: 500px;
  height: 500px;
  top: 50%;
  margin-top: -230px;
}
.gallery .swiper-wrapper .swiper-slide .inner {
  width: 100%;
  height: 100%;
  background: #fff;
  padding: 30px;
  opacity: 0.4;
  transition: 1s;
}
.gallery .swiper-wrapper .swiper-slide .inner .con {
  position: relative;
}
.gallery .swiper-wrapper .swiper-slide .inner .con img {
  width: 100%;
}
.gallery .swiper-wrapper .swiper-slide .inner .con h2 {
  font: normal 40px/1 "roboto";
  color: #111;
  margin-top: 15px;
  margin-bottom: 20px;
}
.gallery .swiper-wrapper .swiper-slide .inner .con h2::after {
  content: "";
  display: block;
  width: 30px;
  height: 1px;
  background: #888;
  margin-top: 15px;
  transition: 1s 0.5s;
}
.gallery .swiper-wrapper .swiper-slide .inner .con p {
  font: 13px/1.3 "arial";
  color: #aaa;
  letter-spacing: 1px;
}
.gallery .swiper-wrapper .swiper-slide .inner::before, .gallery .swiper-wrapper .swiper-slide .inner::after {
  content: "";
  display: block;
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  background: #fff;
  opacity: 0;
}
.gallery .swiper-wrapper .swiper-slide-prev .inner,
.gallery .swiper-wrapper .swiper-slide-next .inner {
  opacity: 0.7;
}
.gallery .swiper-wrapper .swiper-slide-active .inner {
  opacity: 1;
  box-shadow: 0px 0px 50px rgba(255, 255, 255, 0.7);
}
.gallery .swiper-wrapper .swiper-slide-active .inner .con h2::after {
  width: 100px;
}
.gallery .swiper-wrapper .swiper-slide-active .inner::before {
  animation: ani 1s linear 1;
}
.gallery .swiper-wrapper .swiper-slide-active .inner::after {
  animation: ani 1s 0.3s linear 1;
}
.gallery .auto {
  position: absolute;
  bottom: 60px;
  left: 60px;
  z-index: 2;
}
.gallery .auto li {
  float: left;
  margin-right: 20px;
  font-size: 20px;
  color: #fff;
  cursor: pointer;
  opacity: 0.9;
  transition: 0.5s;
}
.gallery .auto li:hover {
  opacity: 1;
  transform: scale(1.4);
}
.gallery .swiper-button-next {
  top: auto;
  bottom: 50px;
  right: 60px;
  filter: grayscale(100%) brightness(3);
}
.gallery .swiper-button-prev {
  top: auto;
  left: auto;
  right: 100px;
  bottom: 50px;
  filter: grayscale(100%) brightness(3);
}
.gallery .swiper-pagination-fraction {
  bottom: auto;
  left: auto;
  top: 50px;
  right: 50px;
  width: auto;
  font-size: 16px;
  font-family: "orbitron";
  color: #333;
  letter-spacing: 1px;
}
.gallery .swiper-pagination-fraction span.swiper-pagination-current {
  font-size: 30px;
  color: #fff;
}

@keyframes ani {
  0% {
    transform: scale(1);
    opacity: 0;
  }
  1% {
    opacity: 1;
  }
  100% {
    transform: scale(1.4);
    opacity: 0;
  }
}

/*# sourceMappingURL=style.css.map */
