@charset "UTF-8";

*{margin: 0px; padding: 0px;}
ul,ol,li{ list-style: none;}
a{text-decoration: none;}

.wrap{
  width: 800px;
  border: 5px solid red;
  margin: 50px auto;
}

.wrap::after{
  content: ''; display: block; clear: both;
}

.wrap .left {
  width: 200px;
  height: 600px;
  background: orange;
  float: left;
} 
.wrap .left div{
  width: 200px; height: 200px;
}

.wrap .left .box1 {
  background: #222;
}
.wrap .left .box2 {
  background: #444;
}
.wrap .left .box3 {
  background: #666;
}
.wrap .center {
  width: 400px;
  height: 600px;
  background: #bbb;
  float: left;
}
.wrap .right div {
  width: 200px; height: 200px;
}
.wrap .right {
  width: 200px;
  height: 600px;
  background: pink;
  float: left;
}
.wrap .right .box1 {
  background: #222;
}
.wrap .right .box2 {
  background: #444;
}
.wrap .right .box3 {
background: #666;
}