@charset 'utf-8';
*{
  margin: 0px;
  padding: 0pa;
  box-sizing: border-box;
}ul,
ol,
li {
  list-style: none;
}
a {
  text-decoration: none;
}

.swiper {
  width: 600px;
  height: 300px;
  border: 1px solid #000;
  margin: 100px auto;
  position: relative;
  .swiper-wrapper {
    width: 100%;
    height: 100%;
    .swiper-slide {
      width: 100%;
      height: 100%;
      &.box1 {
        background: pink;
      }
      &.box2 {
        background: orange;
      }
      &.box3 {
        background: lightblue;
      }
      &.box4 {
        background: lightgreen;
      }
      &.box5 {
        background: violet;
      }
    }
  }
  .auto {
    position: absolute;
    bottom: 20px;
    left: 20px;
    z-index: 10;
    li {
      width: 80px;
      height: 20px;
      float: left;
      margin-right: 20px;
      text-align: center;
      color: #fff;
      cursor: pointer;
      font:14px/20px "맑은고딕";
      &.btnStart {
        background: blue;
      }
      &.btnStop {
        background: red;
      }
    }
  }
}