@charset 'utf-8';
@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@300&display=swap');

@import "reset.scss";
@import "font.scss";
@import "color.scss";
@import "mixin.scss";

/* 
sass 기본 문법

scss 문법으로 작성된 코드를 실시간으로 일반 css 파일로 변환 하는것이 sass사용한다는 의미
-html 은 css파일만 인식한다

변수 
-자주 변경될만한 값을 특정 공간에 저장ㅎ서 해당 값을 필요한 곳에 재활용 할때 만드는것 

$변수명 : 속성값;

nesting중첩 
-html 중첩 구조와 동일하게 scss구조로도 중첩해서 관리 한다 

scss파일 분리 하기 
- 분리할 scss 구문을 _파일명.scss 로 분리 
- style.scss 파일에 @import "파일명.scss"; 해준다 
*/

body {
  background: pink;
  .wrap {
    @include clear;
    // &::after {
    //   content: "";
    //   display: block;
    //   clear: both;
    // }
    &:hover {
      .item {
        opacity: 1;
        transform: translateY(0px);
      }
    }
    .item {
      width: 300px;
      height: 200px;
      border-radius: 10px;
      background: #555;
      float: left;
      box-shadow: 5px 5px 20px #ddd;
      margin: 40px;
      padding: 10px;
      opacity: 0;
      transform: translateY(100px);
      transition-duration: 0.5s;

      @for $i from 1 through 8 {
        &:nth-of-type(#{$i}) {
          transition-delay: 0.1s * $i;
        }
      }

      h2 {
        font-size: $fontB;
        font-family: $contentFont;
        // 속성 네스팅
        // font:{
        // size:$fontB;
        //   family:$contentFont;
        // }
        color: #fff;
        margin-bottom: 20px;
      }
      a {
        @include button($bgColor: red, $fontSize:30px);
      }
      .btn {
        @include button($bgColor:blue);
      }
    }
  }
}
// body.wrap::after {
// content : "";
// display:block;
// clear:both;
// }



