@charset "UTF-8";

#box{
  position: absolute;
  width: 200px; height: 200px; border-radius: 50%;
  text-align: center;
  background: linear-gradient(45deg, yellowgreen, cornflowerblue);
  animation-name: ani;
  animation-duration: 1s;
  animation-timing-function: linear;
  animation-iteration-count: infinite;
  animation-direction: alternate;
}
#box h1{
  line-height: 160px;
}
#box:hover{
  animation-play-state: paused;
}
@keyframes ani{
  0%{left:0px; transform: rotate(0deg);}
  50%{left:500px; transform: rotate(0deg);}
  100%{left: 500px; transform: rotate(60deg);}
}

/* animation 사용자가 어떤 동작을 하지 않아도 미리 지정한 조건에 맞게 자동으로 반복하는 효과 

@keyframes  애니메이션 세트 지정
- 에니메이션 시작과 끝을 등록하여 사용자 모션 지정
0%(from) :시작 지점
100%(to) :종료 지점
중간 지점 추가 가능 
animation-name :이름
- 키프레임으로 등록한 모션의 이름을 호출

animation-duration :지속 시간 
-키프레임 모션 한세트를 얼마동안 동작하게 할지를 초단위로 등록 

animation-timing-function : 가속도
animation-iteration-count :횟수 
-키프레임 모션 한세트가 몇번 반복할지를 지정
무한 반복 : infinite

animation-delay : 지연시간 
animation-play-state :동작 상태 
-running / :paused

animation-direction :반복형태 
-nomal : 시작에서 끝으로 이동 
- alternate :시작에서 끝으로 이동한후 다시 처음으로 돌아가는 방복 형태 

animation : name duration timing-function delay iteration-count direction fill-mode;
animation :이름 진행 시간 가속도 지연시간 반복 횟수  */