@charset "UTF-8";

*{
  margin: 0px; padding: 0px; box-sizing: border-box; 
}
ul,ol,li{list-style:none ;}
a{
  text-align: center;
}

div {
  width: 100%;
  height: 100vh;
}
div span {
  color: #fff;
}
.box1{
  background-color: pink;
}
.box1 span {
  font-size: 300px;
}
.box2 {
  background-color: lightblue;
}
.box2 span {
  font-size: 10vw;
}
.box3 {
  background-color: lightgreen;
}
.box3 span {
  font-size: 10vmax;
}